<section class="container">
<div class="user-profile">
  <div class="profile-pic">
    <img src=<%= @user.photo %>alt="user profile pic">
  </div>
  <div class="user-name">
    <h1> <%= link_to @user.name, "/users/#{@user.id}" %> </h1>
    <div class="right-align">
      <span >Number of posts: <%= @user.posts_counter %></span>
    </div>
  </div>
</div>
<div class="user-bio">
    <span><b>Bio:</b></span>
    <br />
    <p><%= @user.bio %></p>
  </div>
  <% @user.posts.each do |post| %>
  <div class="user-post">
  <span><b><%= post.title %></b></span>
  <br />
  <p><%= post.text %></p>
  </div>
  <% end %>
</section>

