<section class="container">
  <%# <div class="user-profile">
    
  </div> %>
<%= render partial: "partials/user", locals: {user: @user} %>
  <div class="user-bio">
    <span class="bio-span"><b>Bio:</b></span>
    <hr />
    <p><%= @user.bio %></p>
  </div>

  <div class="posts-section">
    <div class="posts-span"><span>Posts</span><hr /></div>
  <% @user.most_recent_posts.each do |post| %>
  <div class="user-post">
    <span><b><%= post.title.upcase %></b></span>
    <br />
    <p><%= truncate(post.text, length: 110, seperator: '...') %></p>
  </div>
  <% end %>
  </div>

</section>
  <button class="posts-btn">  <%= link_to "Create post", new_user_post_path(@user), class: "posts-btn" %>
</button>


  <button class="posts-btn"><%= link_to"Show all posts", user_posts_path(@user.id), class: "posts-btn"  %></button>



