<section class="container">
  <div class="user-profile">
    <div class="user-pic">
      <%= image_tag("user.png", width: '80em', height: '90em') %>
    </div>

    <div class="user-name">
      <h1> <%= link_to @user.name, "/users/#{@user.id}" %> </h1>
      <div class="right-align">
        <span >Number of posts: <%= @user.posts_counter %></span>
      </div>
    </div>
  </div>

  <div class="user-bio">
    <span><b>Bio:</b></span>
    <br />
    <p><%= @user.bio %></p>
  </div>

  <% @user.most_recent_posts.each do |post| %>
  <div class="user-post">
    <span><b><%= post.title.upcase %></b></span>
    <br />
    <p><%= truncate(post.text, length: 110, seperator: '...') %></p>
  </div>
  <% end %>

  <%= link_to user_posts_path(@user.id) do %>
    <button>Show all posts</button>
    <% end %>

  <div>
    <h3>Add new post</h3>
    <%= form_with model: @post, url: user_posts_path(:author_id) do |form| %>
      <%= form.text_field :title, placeholder: "Add title" %>
      <%= form.text_field :text, placeholder: "Add text" %>
      <%= form.submit %>
  </div>
  <% end %>
</section>

