<section class="container">
  <div class="user-profile">
    <div class="profile-pic">
      <%= image_tag("user.png") %>
    </div>
    <div class="user-name">
      <h3> <%= @user.name %> </h3>
      <div class="right-align"><span >Number of posts: <%= @user.posts_counter %></span></div>
    </div>
  </div>

<% @user.posts.each do |post| %>

    <div class="post-data">
      <span><b><%= post.title.upcase %></b></span>
      <p><%= truncate(post.text, length: 190, separator: '...') %></p>
      <div class="right-align">
        Comments: <%= post.comments_counter %>
        Likes: <%= post.likes_counter %>
      </div>
    </div>

    <div>
      <% comments = Comment.where(post_id: post.id) %>
      <% comments.each do |comment| %>
      <span><% user = User.find_by(id: comment.author_id).name %></span>
      <p>
        <%= user %>: <%= comment.text %>
      </p>
    </div>
  <% end %>
  <% end %>
</section>

