<section class="container">
  <div class="user-profile">
    <div class="profile-pic">
      <%= image_tag "user.png", class:"dp" %>
    </div>
    <div class="user-name">
      <h3> <%= @user.name %> </h3>
      <div class="right-align"><span >Number of posts: <%= @user.posts_counter %></span></div>
    </div>
  </div>

<% @user.posts.each do |post| %>

    <div class="post-data">
      <span><b><%= post.title.upcase %></b></span>
      <p><%= truncate(post.text, length: 250, separator: '...') %></p>
      <div class="right-align">
        Comments: <%= post.comments_counter %>
        Likes: <%= post.likes_counter %>
      </div>
    </div>

    <% comments = Comment.where(post_id: post.id).order(created_at: :desc).limit(5) %>
    <% if (comments.length > 0) %>
    <div>
      Comments
      <% comments.each do |comment| %>
      <span><% user = User.find_by(id: comment.author_id).name %></span>
      <p>
        <%= user %>: <%= comment.text %>
      </p>
      <% end %>
    </div>
  <% end %>
  <% end %>
</section>
