<section class="container">
  <%= render partial: "partials/user", locals: {user: @user} %>

<% @user.posts.each do |post| %>

    <a class="post-box" href="posts/<%= post.id %>">
      <div class="post-data">
        <span><b><%= post.title.upcase %></b></span>
        <p><%= truncate(post.text, length: 250, separator: '...') %></p>
        <div class="right-align">
          Comments: <%= post.comments_counter %>
          Likes: <%= post.likes_counter %>
        </div>
      </div>
    </a>

    <% comments = Comment.where(post_id: post.id).order(created_at: :desc).limit(5) %>
    <% if (comments.length > 0) %>
    <div>
      Comments
      <% comments.each do |comment| %>
      <span><% user = User.find_by(id: comment.author_id).name %></span>
      <p>
        <%= user %>: <%= comment.text %>
      </p>
      <% end %>
    </div>
  <% end %>
  <% end %>

  <div class="user-post-btns">
  <%= button_to "Create post", new_user_post_path(@user), method: :get, class: "btn btn-primary posts-btn" %>
  <%= button_to"Back", user_path(@user), method: :get, class: "posts-btn" %>
</div>
</section>
