<section>
  <div class="post-info">
    <span>
      <%= @post.title %>: by <%= @user.name %>
    </span>
    <div class="right-align">
      Comments: <%= @post.comments_counter %>  Likes: <%= @post.likes_counter %>
    </div>
    <p><%= @post.text %></p>
  </div>
</section>
