<section class="container">
  <div class="post-info">
    <span class="post-title"><h4>
      <% Post %> <%= @post.title %>: by <%= @user.name %></h4>
    </span>
    <div class="right-align">
      Comments: <%= @post.comments_counter %>  Likes: <%= @post.likes_counter %>
    </div>
    <p><%= @post.text %></p>
  </div>

  <div class="comments-list">
    <% comments = Comment.where(post_id: @post.id) %>
    <% comments.each do |comment| %>
    <span><% user = User.find_by(id: comment.author_id).name %></span>
    <span><%= user %>: <%= comment.text %> </span>
    <% end %>
  </div>

  <div class="add-comment">
  <%= form_with model: @comment, url: user_post_comments_path(@user.id, @post.id) do |form| %>
    <%= form.text_field :text %>
    <%= form.submit "Comment" %>
    <% end %>
  </div>

  <div>
    <%= form_with model: @like, url: user_post_likes_path(@user.id, @post.id) do |form| %>
    <%= form.submit "Like" %>
    <% end %>
  </div>
</section>
